/* Son psedoselectores / pseudoelementos: son elementos que no existen o que no estan declarados en el código HTML, sin embargo nosotros podemos hacer uso de estos para almacenar variables de CSS (Custom properties). */
:root {
  /* Paleta de colores.
    Variables de CSS / Custom properties.
  */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10 px*/
  font-family: "Krub", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  /* color: var(--primario); Uso del Custom propertie.*/
}

.titulo span {
  /* Se coloca de esta manera "h1 span" para que los estilos delcarardo se coloquen solo a los span que se encuentren dentro de un elemento h1. */
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem; /* Es el ancho maximo que soporta la página. */
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex; /* Nos permite acceder a más propiedades. */
  flex-direction: column;
  /*align-items: center;  Para alinear los elementos en el centro. */
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-evenly; /* Para la separacion del texto entre cada enlace. */
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  text-decoration: none; /* Esto propiedad es para eliminar la linea inferior de los enlaces. */
  color: var(--blanco);
  font-weight: 700;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  /* AQquí vamos a colocar la imagen de la pagina web. */
  background-image: url(../img/hero.jpg); /* Direccion de la imagen (los dos punto al comienzo son para salir de la carpeta de CSS y entrar a la carpeta de img.)*/
  background-repeat: no-repeat; /*Para no repetir la imagen.*/
  background-size: cover; /* Sirve para rellenar el formato de la imagen. */
  height: 450px; /* Estas dos propiedades son las que me estan dando problemas con los textos de la imagen. */
  padding: 20px;
}
