/* Son psedoselectores / pseudoelementos: son elementos que no existen o que no estan declarados en el código HTML, sin embargo nosotros podemos hacer uso de estos para almacenar variables de CSS (Custom properties). */
:root {
  /* Paleta de colores.
    Variables de CSS / Custom properties.
  */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10 px*/
  font-family: "Krub", sans-serif;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  /* color: var(--primario); Uso del Custom propertie.*/
}

.titulo span {
  /* Se coloca de esta manera "h1 span" para que los estilos delcarardo se coloquen solo a los span que se encuentren dentro de un elemento h1. */
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  padding: 1rem;
  display: flex; /* Nos permite acceder a más propiedades. */
  justify-content: space-evenly; /* Para la separacion del texto entre cada enlace. */
}

.navegacion-principal a {
  text-decoration: none; /* Esto propiedad es para eliminar la linea inferior de los enlaces. */
  color: var(--blanco);
}
